.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff6f61;
  color: white;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar a {
  flex: 1;
  text-align: center;
  margin: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.bname {
  font-size: 40px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

.text-container h1 {
  font-size: 36px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.download-button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

.download-button:hover {
  background-color: #333;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-container img {
  width: 250px;
  height: auto;
  border-radius: 20px;
  transform: rotate(30deg);
}

/* Responsive Styles */
@media (min-width: 768px) {
  .banner {
    padding-left: 200px;
    padding-right: 300px;
  }

  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .text-container {
    align-items: flex-start;
    text-align: left;
    max-width: 50%;
  }

  .button-container {
    flex-direction: row;
  }

  .download-button {
    margin-right: 10px;
    margin-left: 0;
    width: auto;
  }

  .image-container {
    max-width: 50%;
    justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  .bname {
    font-size: 60px;
  }

  .text-container h1 {
    font-size: 60px;
  }
}
